{% extends 'base.html' %}
{% load static %}
{% block content1 %}

<div class="row my-3">
    <div class="col-4 text-center my-5 text-light">
        <h1 class="mt-5">Stay connected</h1>
        <h3 class="mt-5">olimbakaev08@gmail.com</h3>

        <div class="col-12 d-flex justify-content-center align-items-center mt-5">
            <a href="https://www.linkedin.com/in/olimjon-bakaev-42ba7321b/" target="_blank" class="ms-3">
                <img src="{% static 'images/circle-linkedin-512.webp' %}" alt="images/circle-linkedin-512.webp" width="50" height="50" class="social_links">
            </a>

            <a href="https://www.instagram.com/olimbakaev08/" target="_blank" class="ms-3">
                <img src="{% static 'images/ins.webp' %}" alt="images/ins.webp" width="50" height="50" class="social_links">
            </a>
            <a href="https://t.me/Bakaev_Olimjon" target="_blank" class="ms-3">
                <img src="{% static 'images/telegram.webp' %}" alt="images/telegram.webp" width="50" height="50" class="social_links">
            </a>
        </div>
        
    </div>

    <div class="col-5 offset-1 mt-3">
        <div class="container form-container">
            <form action="/contact" method="post"> {% csrf_token %}
                <div class="form-group m-3">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="form-group m-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="form-group m-3">
                    <label for="phone">Phone number</label>
                    <input type="tel" class="form-control" id="phone" name="phone">
                </div>
                <div class="form-group m-3">
                    <label for="msg">Message</label>
                    <textarea type="tel" class="form-control" id="msg" name="msg" rows="2"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock content1 %}